__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
.venv/
venv/
.Python
.python-version

# Packaging / build
build/
dist/
*.egg-info/

# Logs and caches
*.log
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editors / OS
.DS_Store
.vscode/
.idea/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints
